@{
    ViewBag.Title = "Plugins | using!";
    ViewBag.PluginName = "using!";
    ViewBag.Description = "Helper for loading files with appending the '.min' extension according to isDebug config property.";
}

@section config
{
    <script type="text/javascript">
        var require = {
            isDebug: @ViewBag.IsDebug.ToString().ToLower(),
            paths: {
                using: "/Scripts/Plugins/using" 
            },
            packages: [{
                name: "Web",
                location: "/Scripts/Web"
            }]
        };
    </script>    
}

@section scripts
{
    <script type="text/javascript">
        require([
            "using!Web/foo"
        ], function(foo){
            var out = document.getElementById("output");
            out.innerHTML += '<p><b>foo:<\/b> '+ foo.msg +'<\/p>';
        });        
    </script>
}

<h2>
    Use 'foo' version:
</h2>
<ul>
    <li>
        @Html.ActionLink("debug", "Using", new { isDebug = true })
    </li>
    <li>
        @Html.ActionLink("release", "Using", new { isDebug = false })
    </li>
</ul>

<h2>
    Output:
</h2>
<div id="output" style="border:1px solid #ccc; background:#f5f5f5; padding:10px 20px">
</div>